/* src/styles/components/jobs/job-page.module.css */

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding-top: 30px; /* Space for fixed header */
  padding-bottom: 40px;
}